<template>
  <div>
    <div class="relative">
      <date-picker-input :label="label" :selected-date="selectedDate" @toggle="toggleSelect" />
      <date-picker-select :visible="visible" @day-selected="daySelected" />
    </div>
    <button
      v-show="visible"
      tabindex="-1"
      class="absolute inset-0 w-full opacity-0 cursor-default"
      type="button"
      @click="toggleSelect"
    >
      I'm here to close the user menu when the user clicks somewhere else
    </button>
  </div>
</template>

<script>
import { DateTime } from "luxon";

export default {
  name: "date-picker",
  props: {
    options: {
      type: Object,
      default: () => ({ day: '2-digit', month: 'short', year: 'numeric' })
    }
  },
  data () {
    return {
      visible: false,
      label: 'Ab?',
      selectedDate: DateTime.now().toLocaleString(this.options)
    }
  },
  methods: {
    toggleSelect () {
      this.visible = !this.visible
    },
    daySelected (day) {
      this.selectedDate = DateTime.fromISO(day).toLocaleString(this.options)
      this.$emit('input', day)
      this.toggleSelect()
    }
  }
}
</script>

<style scoped>

</style>
