<template>
  <div class="flex flex-col w-80">
    <label for="input" class="absolute font-thin text-sm p-2 pl-4">{{ label }}</label>
    <input id="input" class="border w-80 h-16 pl-4 pt-8 pb-2" :value="selectedDate" @focus="toggleSelect" />
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      required: true
    },
    selectedDate: {
      type: String,
      default: ''
    }
  },
  methods: {
    toggleSelect () {
      this.$emit('toggle')
    },
  }
}
</script>

<style scoped>

</style>
