<template>
  <div class="absolute z-50 w-80 bg-white border rounded-sm px-6 py-4 space-y-4" :class="{'hidden': !visible} ">
    <date-picker-select-navigation :year="year.toString()" :month="monthLong" @left-click="handleLeftClick" @right-click="handleRightClick"/>
    <date-picker-select-days-overview :year="year" :month="month" @day-selected="daySelected"/>
  </div>
</template>

<script>
import { DateTime } from "luxon"

export default {
  name: 'date-picker-select',
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      year: 2020,
      month: 1,
      monthLong: 'January'
    }
  },
  fetch () {
    this.year = DateTime.now().year
    this.month = DateTime.now().month
    this.monthLong = DateTime.now().monthLong
  },
  methods: {
    handleLeftClick (event) {
      if (this.month === 1) {
        this.month = 12
        this.year -= 1
        this.monthLong = DateTime.local(this.year, this.month).monthLong
        return
      }
      this.month -= 1
      this.monthLong = DateTime.local(this.year, this.month).monthLong
    },
    handleRightClick (event) {
      if (this.month === 12) {
        this.month = 1
        this.year += 1
        this.monthLong = DateTime.local(this.year, this.month).monthLong
        return
      }
      this.month += 1
      this.monthLong = DateTime.local(this.year, this.month).monthLong
    },
    daySelected (day) {
      this.$emit('day-selected', day.toISO())
    }
  }
}
</script>

<style scoped>

</style>
