<template>
<div class="text-center flex justify-between">
  <date-picker-select-navigation-button @click="handleLeftInput">
    <svg-chevron-left/>
  </date-picker-select-navigation-button>
  <div>
    <span class="tracking-wide">{{ month }}</span>
    <span class="tracking-wide">{{ year }}</span>
  </div>
  <date-picker-select-navigation-button @click="handleRightInput">
    <svg-chevron-right />
  </date-picker-select-navigation-button>
</div>
</template>

<script>

export default {
  props: {
      year: {
        type: String,
          required: true
      },
      month: {
        type: String,
        required: true
      }
  },
  methods: {
    handleLeftInput() {
      this.$emit('left-click')
    },
    handleRightInput() {
      this.$emit('right-click')
    }
  }
}
</script>

<style scoped>

</style>
