<template>
  <div>
    <table class="table-fixed w-full">
      <thead>
        <tr class="text-center">
          <th class="w-1/7 font-thin text-gray-500 text-sm p-1" v-for="(day, key) in weekdays" :key="key">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
      <tr v-for="(row, index) in rows" :key="index" class="text-center h-12">
        <td v-for="(day, index) in row" :key="index">
          <button
            class="w-9 h-9 text-sm focus:outline-none rounded-full cursor-default"
            :class="{'cursor-pointer hover:bg-gray-300 focus:bg-black focus:text-white': day !== '', 'border border-black': isToday(day) }"
            @click="daySelected(day)">
            {{ day }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { DateTime } from "luxon"
import { Info } from "luxon"

export default {
  props: {
    year: {
      type: Number,
      required: true
    },
    month: {
      type: Number,
      required: true
    }
  },
  computed: {
    weekdays () {
      return Info.weekdays('short')
    },
    rows () {
      const daysInMonth = DateTime.local(this.year, this.month).daysInMonth
      const dayOfWeek = DateTime.local(this.year, this.month).weekday - 1

      let blankdaysArray = []
      for (let i=1; i <= dayOfWeek; i++) {
        blankdaysArray.push('')
      }

      let daysArray = []
      for (let j=1; j <= daysInMonth; j++) {
        daysArray.push(j)
      }

      let myArray = blankdaysArray.concat(daysArray)
      while (myArray.length % 7 !== 0) {
        myArray.push('')
      }
      let rows = []
      const totalLength = myArray.length
      for (let k=1; k <= totalLength / 7; k++) {
        rows.push(myArray.splice(0, 7))
      }

      return rows
    }
  },
  methods: {
    daySelected(day) {
      this.$emit('day-selected', DateTime.local(this.year, this.month, day))
    },
    isToday(day) {
      return DateTime.now().year === this.year && DateTime.now().month === this.month && DateTime.now().day === day
    }
  }
}
</script>

<style scoped>

</style>
