<template>
  <date-picker @input="handleDateSelected" />
</template>

<script>

export default {
  methods: {
    handleDateSelected (date) {
      console.log(date)
    }
  }
}
</script>

<style>

</style>
